
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
}

body{
    /*border: 3px solid red;*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
header{
    /*border: 3px solid blue;*/
    display: flex;
    background-color: #FFAEBC;
    position: fixed;
    top:0;
    width: 100%;
}
#header-img{
    /*border: 3px solid yellowgreen;*/
    margin: auto 0;
    width: 40px;
    
}
h1{
    /*border: 3px solid yellowgreen;*/
    margin: auto 0;
    flex:2;
    font-family: 'Birthstone', cursive;
    font-size: 40px;
    color: purple;
}
#nav-bar{
    /*border: 3px solid yellowgreen;*/
    margin: auto 0;
    flex: 3;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.nav-link{ 
    margin-right: 10px; 
    text-decoration: none;  
}
form{
    /*border: 3px solid greenyellow;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color:#A0E7E5;
}
form>label{
    font-weight: bold;
    font-style: oblique;
    font-size: 35px;
    color: rgb(31, 24, 24);
}
#email{
    margin: 3px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    border: 1px dashed #FBE7C6;
}
#submit{
    margin-top: 8px;
}
.info{
    /*border: 3px solid blue;*/
    display: flex;
    flex-direction: column;;
    text-align: center;
    background-color: rgb(221, 213, 213);
}
.info>h3{
    /*border: 3px solid red;*/
    font-style: oblique;
    font-weight: bold;
}
.info>p{
    font-size: 15px;
    margin-bottom: 5px;
}
.vid{
    /*border: 2px solid goldenrod;*/
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color:  rgb(221, 213, 213);;
}
iframe{
    border-radius: 10px;
}
.prices{
    display: flex;
    /*border: 3px solid greenyellow;*/
    justify-content: center;
    flex-wrap: wrap;
    background-color:  rgb(221, 213, 213);;
}
.box{
    margin: 10px;
    /*border: 2px solid rebeccapurple;*/
    width: 250px;
    border-radius: 10px;
    background-color: rgba(234, 255, 43, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3D550C;
}
.film-type{
    /*border: 2px solid orange;*/
    text-align: center;
    margin-bottom: 3px;
    margin-top: 10px;
    font-family: 'Birthstone', cursive;
    font-size: 40px;

}
.film-desc{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    
}
.box>button{
    width: 100px;
    margin: 40px auto 10px;
    border-radius: 10px;

}
.glow:hover{
    background-color: rgb(162, 162, 247);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    color: white;
}
#move{
    margin-top:20px;}

footer{
/*border: 2px solid goldenrod;*/
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
background-color:#A0E7E5;
}
.footer-nav{
    /*border: 2px solid greenyellow;*/
    padding: 10px;
    background-color:#A0E7E5;
}
.lower-links{
    padding: 15px;
    text-decoration: none;
}
.footer-low{
    padding: 20px;
    background-color:#FFAEBC;
    border-radius: 10px;
    
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header{
        /*border: 3px solid blue;*/
        display: flex;
        background-color: #FFAEBC;
        position: relative;
        /*top:0;
        width: 100%;*/
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        border: 1px solid gainsboro;
    }
    #header-img{
        /*border: 3px solid yellowgreen;*/
        margin: auto 0;
        margin-bottom: -15px;
        width: 40px;
        align-self: center;
    }
    h1{
        /*border: 3px solid yellowgreen;*/
        /*margin: auto 0;*/
        /*flex:2;*/
        font-family: 'Birthstone', cursive;
        font-size: 40px;
        color: purple;
    }
    #nav-bar{
        /*border: 3px solid yellowgreen;*/
        /*margin: auto 0;
        /*flex: 3;*/
        display: flex;
        flex-direction: column;
        /*justify-content: flex-end;
        */gap: 0px;*/
    }
    .nav-link{ 
        /*margin-right: 10px;*/ 
        text-decoration: none;
        border: 1px solid gainsboro;
        gap: 0;  
    }
    form{
        /*border: 3px solid greenyellow;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color:#A0E7E5;
    }
    form>label{
        font-weight: bold;
        font-style: oblique;
        font-size: 35px;
        color: rgb(31, 24, 24);
    }
    #email{
        margin: 3px;
        width: 400px;
        text-align: center;
        border-radius: 10px;
        border: 1px dashed #FBE7C6;
    }
    #submit{
        margin-top: 8px;
    }
  
}