*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
}

body{
    border: 3px solid red;
    height: 100vh;
}
header{
    /*border: 3px solid blue;*/
    display: flex;
    background-color: #FFAEBC;
}
#header-img{
    /*border: 3px solid yellowgreen;*/
    margin: auto 0;
    width: 40px;
    
}
h1{
    /*border: 3px solid yellowgreen;*/
    margin: auto 0;
    flex:2;
    

}
#nav-bar{
    /*border: 3px solid yellowgreen;*/
    margin: auto 0;
    flex: 3;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.nav-link{ 
    margin-right: 10px; 
    text-decoration: none;  
}