*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
}

body{
    border: 3px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
header{
    /*border: 3px solid blue;*/
    display: flex;
    background-color: #FFAEBC;
}
#header-img{
    /*border: 3px solid yellowgreen;*/
    margin: auto 0;
    width: 40px;
    
}
h1{
    /*border: 3px solid yellowgreen;*/
    margin: auto 0;
    flex:2;
    font-family: 'Birthstone', cursive;
    font-size: 40px;
    color: purple;
}
#nav-bar{
    /*border: 3px solid yellowgreen;*/
    margin: auto 0;
    flex: 3;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.nav-link{ 
    margin-right: 10px; 
    text-decoration: none;  
}
form{
    /*border: 3px solid greenyellow;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color:#A0E7E5;
}
form>label{
    font-weight: bold;
    font-style: oblique;
}
#email{
    margin: 3px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    border: 1px dashed #FBE7C6;
}
#submit{
    margin-top: 8px;
}